{{!-- NAVBAR --}}
<nav class="navbar navbar-expand-lg navbar-light cstmNavBar">
  <a class="navbar-brand" href="/">Study Buddy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link cstmNavLink" id="about-link" href="/#about">About <span class="sr-only">(current)</span></a>
      </li>
      {{#unless authenticated}}
      {{!-- ^^ not authenticated (falsey value) --}}
      <li class="nav-item">
        <a class="nav-link cstmNavLink" href="#login-modal" data-toggle="modal" data-target="#login-modal">Login</a>
      </li>
      {{/unless}}
      {{#if authenticated}}
      {{!-- if authenticated (true) --}}
      <li class="nav-item">
        <a class="nav-link cstmNavLink" href="/user/matches">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cstmNavLink" href="/user/buddylist">Favorites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cstmNavLink" href="/logout">Logout</a>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>


{{!-- LANDING CONTENT --}}
<div class="jumbotron landingJumbo">
  {{#unless authenticated}}
  <h4 class="text-center">Want help from other students?</h4>
  <br>
  <h1 class="text-center brown">Find a buddy to study the same subject as you!</h1>

  <div class="landingCTA">
    <button type="button" class="btn btn-outline-primary signup-button landingButtons" data-toggle="modal"
      data-target="#modal1">Sign
      Up</button>
    <br>
  </div>

  <p class="loginMsg"><small> or <a href="#login-modal" data-toggle="modal" data-target="#login-modal">login</a> if you
      have an account.</small></p>
  {{/unless}}

  {{#if authenticated}}
  {{!-- if authenticated (true) --}}
  <h1 class="text-center brown">Welcome to Study Buddy!</h1>
  <br>
  <h5 class="text-center">View your previous matches, check out your saved buddies, or start a new survey.</h5>

  <div class="landingCTA">
    <a href="/user/matches"><button type="button"
        class="btn btn-outline-primary matches-button landingButtons">Matches</button></a>
    <a href="/user/buddylist"><button type="button"
        class="btn btn-outline-primary buddylist-button landingButtons">Favorites</button></a>
    <button type="button" class="btn btn-outline-primary survey-button landingButtons" data-toggle="modal"
      data-target="#modal2">Take
      Survey</button>
  </div>
  {{/if}}
</div>


<div class="aboutSection" id="about">

  <div class="aboutHeader">
    <h1 class="text-center">What is Study Buddy?</h1>
  </div>

  <div class="container aboutBody">
    <p>Study Buddy is a simple app Lorem ipsum dolor sit, amet consectetur adipisicing elit. In ipsum ratione tempora mollitia et? Ipsa vel vero praesentium nam vitae ut doloribus, maxime repellendus in sapiente corporis quibusdam aliquid animi? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati debitis impedit alias, beatae tempore error nulla minima neque sit? Placeat nobis quas cum velit? Ut earum harum sed nulla non.</p>
  </div>

</div>



{{!-- MODAL 1: CREATE ACCOUNT --}}
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create your account!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="createFirstname" class="col-form-label">First Name*</label>
            <input type="text" class="form-control" id="createFirstname" placeholder="Sam">
          </div>
          <div class="form-group">
            <label for="createLastname" class="col-form-label">Last Name*</label>
            <input type="text" class="form-control" id="createLastname" placeholder="Smith">
          </div>
          <div class="form-group">
            <label for="createUsername" class="col-form-label">Username*</label>
            <input type="text" class="form-control" id="createUsername" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="createPassword" id="passwordInput" class="col-form-label">Password*</label>
            <input type="password" class="form-control" id="createPassword" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="createEmail" class="col-form-label">Email*</label>
            <input type="email" class="form-control" id="createEmail" placeholder="example@email.com">
          </div>
          <div class="form-group">
            <label for="createLocation" class="col-form-label">Location (zip code)*</label>
            <input type="text" pattern="[0-9]*" class="form-control" id="createLocation" placeholder="Ex: 98101">
            {{!-- may need to convert to number --}}
          </div>
          <button type="button" id="upload_widget" class="cloudinary-button">Upload Profile
            Picture</button>*
        </form>
      </div>
      <div class="modal-footer">
        <small>*Required fields</small>
        <button type="button" class="btn btn-primary create-button modalButtons" id="createAccount-button"
          data-toggle="modal" data-target="#modal2" data-dismiss="modal">Create</button>
      </div>
    </div>
  </div>
</div>


{{!-- MODAL 2: SURVEY --}}
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Study Buddy Survey</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form>
          <input type="hidden" id="cloudUrl" name="cloudinaryPhoto" value="">
          <!--topic Question Modal-->
          <div id="topic-question">
            <div class="form-group">
              <span class="topicQuestion" style="white-space: nowrap">
                <label for="topicQuestion">Topic</label>
                <select class="form-control w-75" id="topicQuestion">
                  <option value="Math">Math</option>
                  <option value="Science">Science</option>
                  <option value="Law">Law</option>
                  <option value="Coding">Coding</option>
                  <option value="English">English</option>
                  <option value="Exercise Sciences">Exercise Sciences</option>
                  <option value="Engineering">Engineering</option>
                  <option value="Business">Business</option>
                </select>
              </span>
            </div>
          </div>


          <!--sub topic question - need jquery to dynamically display based on chosen topic -->
          <div id="sub-topic-question">
            <div class="form-group">
              <span class="subQuestion" style="white-space: nowrap">
                <label for="subQuestion">Sub-Topic</label>
                <select class="form-control w-75" id="subQuestion">
                </select>
              </span>
            </div>
          </div>

          <!--remote Question Modal-->
          <div id="remote-question">
            <div class="form-group">
              <span class="remoteQuestion" style="white-space: nowrap">
                <label for="remoteQuestion">Remote</label>
                <select class="form-control w-75" id="remoteQuestion">
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </span>
            </div>
          </div>

          <!--in person Question Modal-->
          <div id="in-person">
            <div class="form-group">
              <span class="inPerson" style="white-space: nowrap">
                <label for="inPerson">In Person</label>
                <select class="form-control w-75" id="inPerson">
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </span>
            </div>
          </div>

          <!--zip code Question Modal-->
          {{!-- <div id="zip-Code">
            <div class="form-group">
              <label for="zipCode">Zip Code</label>
              <input type="text" class="form-control" id="zipCode" aria-describedby="zipHelp" placeholder="98101">
            </div>
          </div> --}}


          <!--time Question Modal-->
          <div id="time-Question">
            <div class="form-group">
              <span class="timeQuestion" style="white-space: nowrap">
                <label for="timeQuestion">Meeting Time</label>
                <select class="form-control w-75" id="timeQuestion">
                  <option value="Morning">Morning</option>
                  <option value="Afternoon">Afternoon</option>
                  <option value="Evening">Evening</option>
                </select>
              </span>
            </div>
          </div>
          <!-- Check Box question for day of the week-->


          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="daysOfWeek" value="Monday">
            <label for="Monday">Monday</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="daysOfWeek" value="Tuesday">
            <label for="Tuesday">Tuesday</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="daysOfWeek" value="Wednesday">
            <label for="Wednesday">Wednesday</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="daysOfWeek" value="Thursday">
            <label for="Thursday">Thursday</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="daysOfWeek" value="Friday">
            <label for="Friday">Friday</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="daysOfWeek" value="Saturday">
            <label for="Saturday">Saturday</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="daysOfWeek" value="Sunday">
            <label for="Sunday">Sunday</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary create-button modalButtons" id="submitButton" data-toggle="modal"
          data-target="#modal2">Submit</button>
      </div>
    </div>
  </div>
</div>


{{!-- LOGIN MODAL --}}
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="userEmail" class="col-form-label">Email</label>
            <input type="text" class="form-control" id="userEmail">
          </div>
          <div class="form-group">
            <label for="password" class="col-form-label">Password</label>
            <input type="password" class="form-control" id="password">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary create-button modalButtons" id="login-button"
              data-toggle="modal">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>