<span id="top"></span>
{{!-- NAVBAR --}}
<nav class="navbar navbar-expand-lg navbar-light cstmNavBar">
  <a class="navbar-brand" href="/">Study Buddy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link cstmNavLink" id="about-link" href="/#about">About <span class="sr-only">(current)</span></a>
      </li>
      {{#unless authenticated}}
      {{!-- ^^ not authenticated (falsey value) --}}
      <li class="nav-item">
        <a class="nav-link cstmNavLink" href="#login-modal" data-toggle="modal" data-target="#login-modal">Login</a>
      </li>
      {{/unless}}
      {{#if authenticated}}
      {{!-- if authenticated (true) --}}
      <li class="nav-item">
        <a class="nav-link cstmNavLink" href="/user/matches">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cstmNavLink" href="/user/buddylist">Favorites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cstmNavLink" href="/logout">Logout</a>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>


{{!-- LANDING CONTENT --}}
<div class="jumbotron landingJumbo">
  {{#unless authenticated}}
  <div class="nologLanding">
    <h4 class="text-center">Want help from other students?</h4>
    <br>
    <h1 class="text-center brown">Find a buddy to study the same subject as you!</h1>

    <div class="landingCTA textFade">
      <button type="button" class="btn btn-outline-primary signup-button landingButtons" data-toggle="modal"
        data-target="#modal1">Sign
        Up</button>
      <br>
    </div>

    <p class="loginMsg textFade"><small> or <a href="#login-modal" data-toggle="modal"
          data-target="#login-modal">login</a> if you have an account.</small></p>
  </div>

  {{/unless}}

  {{#if authenticated}}
  <div class="logLanding">
    <h1 class="text-center brown textFade">Welcome to Study Buddy!</h1>
    <br>
    <h5 class="text-center textFade">View your previous matches, check out your saved buddies, or start a new survey.
    </h5>

    <div class="landingCTA textFade">
      <a href="/user/matches"><button type="button"
          class="btn btn-outline-primary matches-button landingButtons">Matches</button></a>
      <a href="/user/buddylist"><button type="button"
          class="btn btn-outline-primary buddylist-button landingButtons">Favorites</button></a>
      <button type="button" class="btn btn-outline-primary survey-button landingButtons" data-toggle="modal"
        data-target="#modal2">Take
        Survey</button>
    </div>
  </div>
  {{/if}}
</div>


<div class="aboutSection" id="about">

  <div class="aboutHeader">
    <h1 class="text-center brown">What is Study Buddy?</h1>
  </div>

  <div class="container aboutBody">
    <p>
      <h3>Studying with a Buddy</h3>
      Study Buddy was founded by four students who saw a better way to find a study buddy! This is an app for those who find learning more relatable by peers going through the same subject! Based out of <span class="brown">Seattle, Washington</span>, Study Buddy helps those who want to learn to connect with others who are interested in the same topics and sub-topics. You can connect with who you want, when you want, on your own terms. Welcome to our community, and happy studying!
    </p>

    <br>

    <p>
      <h3>How Does It Work?</h3>
     It's quick and simple! To use Study Buddy, <span class="brown">sign up for an account</span> and <span class="brown">take a quick initial survey</span>! You will then be shown the top 3 buddies who most closely match your preferences. Otherwise, you will be shown 3 more buddies who you can connect with. If you enjoyed the connection or simply want to save their info, just <span class="brown">favorite their profile card</span> and see on your Favorites page just how many buddies you've been able to connect with! 
    </p>

    <br>

    <p>
      <h3>FAQs</h3>
      Don’t see your study topic or subtopic? Email us at <span
        class="brown"><strong>studybuddy@smart.com</strong></span> and we’ll add it!
      <br>
      No longer want to study with a buddy? We are sad to see you go. Click <span
        class="brown"><strong>here</strong></span> and we’ll
      begin the process to remove
      your account.
      <br>
      See more here: <a href="https://github.com/aprilleperez/studybuddy"><i class="fab fa-github brown"></i></a>
    </p>
  </div>

</div>



{{!-- MODAL 1: CREATE ACCOUNT --}}
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create your account!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="createFirstname" class="col-form-label">First Name*</label>
            <input required="required" type="text" class="form-control" id="createFirstname" placeholder="Sam">
          </div>
          <div class="form-group">
            <label for="createLastname" class="col-form-label">Last Name*</label>
            <input required="required" type="text" class="form-control" id="createLastname" placeholder="Smith">
          </div>
          <div class="form-group">
            <label for="createUsername" class="col-form-label">Username*</label>
            <input required="required" type="text" class="form-control" id="createUsername" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="createPassword" id="passwordInput" class="col-form-label">Password*</label>
            <input required="required" type="password" class="form-control" id="createPassword" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="createEmail" class="col-form-label">Email*</label>
            <input required="required" type="email" class="form-control" id="createEmail"
              placeholder="example@email.com">
          </div>
          <div class="form-group">
            <label for="createLocation" class="col-form-label">Location (zip code)*</label>
            <input required="required" type="text" pattern="[0-9]*" class="form-control" id="createLocation"
              placeholder="Ex: 98101">
          </div>
          <button type="button" id="upload_widget" class="cloudinary-button">Upload Profile
            Picture</button>*
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary create-button modalButtons" id="createAccount-button"
          data-toggle="modal" data-target="#modal2" data-dismiss="modal">Create</button>
        <small>*Required fields</small>
      </div>
    </div>
  </div>
</div>


{{!-- MODAL 2: SURVEY --}}
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Study Buddy Survey</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form>
          <input type="hidden" id="cloudUrl" name="cloudinaryPhoto" value="">
          <!--topic Question Modal-->
          <div id="topic-question">
            <div class="form-group">
              <span class="topicQuestion" style="white-space: nowrap">
                <label for="topicQuestion">Topic</label>
                <select class="form-control w-75" id="topicQuestion">
                  <option value="Math">Math</option>
                  <option value="Science">Science</option>
                  <option value="Law">Law</option>
                  <option value="Coding">Coding</option>
                  <option value="English">English</option>
                  <option value="Exercise Sciences">Exercise Sciences</option>
                  <option value="Engineering">Engineering</option>
                  <option value="Business">Business</option>
                </select>
              </span>
            </div>
          </div>

          <!--sub topic question - need jquery to dynamically display based on chosen topic -->
          <div id="sub-topic-question">
            <div class="form-group">
              <span class="subQuestion" style="white-space: nowrap">
                <label for="subQuestion">Sub-Topic</label>
                <select class="form-control w-75" id="subQuestion">
                </select>
              </span>
            </div>
          </div>

          <!--remote Question Modal-->
          <div id="remote-question">
            <div class="form-group">
              <span class="remoteQuestion" style="white-space: nowrap">
                <label for="remoteQuestion">Remote</label>
                <select class="form-control w-75" id="remoteQuestion">
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </span>
            </div>
          </div>

          <!--in person Question Modal-->
          <div id="in-person">
            <div class="form-group">
              <span class="inPerson" style="white-space: nowrap">
                <label for="inPerson">In Person</label>
                <select class="form-control w-75" id="inPerson">
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </span>
            </div>
          </div>

          <!--time Question Modal-->
          <div id="time-Question">
            <div class="form-group">
              <span class="timeQuestion" style="white-space: nowrap">
                <label for="timeQuestion">Meeting Time</label>
                <select class="form-control w-75" id="timeQuestion">
                  <option value="Morning">Morning</option>
                  <option value="Afternoon">Afternoon</option>
                  <option value="Evening">Evening</option>
                </select>
              </span>
            </div>
          </div>

          <!-- Check Box question for day of the week-->
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="daysOfWeek" value="Monday">
            <label for="Monday">Monday</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="daysOfWeek" value="Tuesday">
            <label for="Tuesday">Tuesday</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="daysOfWeek" value="Wednesday">
            <label for="Wednesday">Wednesday</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="daysOfWeek" value="Thursday">
            <label for="Thursday">Thursday</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="daysOfWeek" value="Friday">
            <label for="Friday">Friday</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="daysOfWeek" value="Saturday">
            <label for="Saturday">Saturday</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="daysOfWeek" value="Sunday">
            <label for="Sunday">Sunday</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary create-button modalButtons" id="submitButton" data-toggle="modal"
          data-target="#modal2">Submit</button>
      </div>
    </div>
  </div>
</div>


{{!-- LOGIN MODAL --}}
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="userEmail" class="col-form-label">Email</label>
            <input type="text" class="form-control" id="userEmail">
          </div>
          <div class="form-group">
            <label for="password" class="col-form-label">Password</label>
            <input type="password" class="form-control" id="password">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary create-button modalButtons" id="login-button"
              data-toggle="modal">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{{!-- Footer --}}
<footer class="page-footer font-small">
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://github.com/aprilleperez/studybuddy">Study Buddy</a>
  </div>
</footer>


<a href="#top" id="back-to-top" class="back-to-top" style="display: inline;">Top</a>