/* ---------------------------------------- */
/* Global                                   */
/* ---------------------------------------- */

body {
  font-family: 'Source Sans Pro', sans-serif;
  /* background: rgb(43,12,255);
  background: linear-gradient(345deg, rgba(43,12,255,1) 0%, rgba(0,255,234,1) 85%); */
}

.list-group-item {
  line-height: 2.5;
}



/* ---------------------------------------- */
/* Navbar                                   */
/* ---------------------------------------- */

.cstmNavBar {
  background-color: rgba(255, 255, 255, 0);
}

.cstmNavLink {
  color: orange;
}



/* ---------------------------------------- */
/* Landing Page                             */
/* ---------------------------------------- */

.landingJumbo {
  /* background: rgb(43,12,255);
  background: linear-gradient(345deg, rgba(43,12,255,1) 0%, rgba(0,255,234,1) 85%); */
  background-image: url("/img/landingbg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  border-radius: unset;
  padding-top: 175px;
  margin-bottom: 0px;
}

.landingCTA {
  margin-top: 75px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.landingButtons {
  margin-left: 20px;
  margin-right: 20px;
  width: 250px;
  color: #6d3939;
  border-radius: 0px;
  border-color: #6d3939;
}

.landingButtons:hover {
  color: white;
  border-color: #6d3939;
  background-color: #6d3939;
}

.loginMsg {
  display: flex;
  justify-content: center;
}

.aboutSection {
  height: 100vh;
}



/* ---------------------------------------- */
/* Modals                                   */
/* ---------------------------------------- */

.modalButtons {
  color: #6d3939;
  border-radius: 0px;
  border-color: #6d3939;
  background-color: white;
  width: 150px;
}

.modalButtons:hover {
  color: white;
  border-color: #6d3939;
  background-color: #6d3939;
}

.modal-footer {
  display: flex;
  justify-content: center;
}



/* ---------------------------------------- */
/* Match Page                               */
/* ---------------------------------------- */

.matchContainer {
  /* background: rgb(200,230,245);
  background: linear-gradient(345deg, rgba(200,230,245,1) 0%, rgba(92,160,211,1) 80%); */
  /* margin-top: 20px; */
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.topMatches, .moreMatches {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.matchCard {
  margin: 20px;
  border-radius: 0px;
  border-style: solid;
}

.card-img-top {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.cardName {
  color: #6d3939;
}

#favorite {
  color: #f2eee0;
  /* float: right; */
  position: absolute;
  top: 15px;
  right: 15px;
  /* font-size: 15px; */
}





/* ---------------------------------------- */
/* Favorites Page                           */
/* ---------------------------------------- */

.favesContainer {
  background: rgb(200,230,245);
  background: linear-gradient(345deg, rgba(200,230,245,1) 0%, rgba(92,160,211,1) 80%);
  /* margin-top: 20px; */
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100vh;
  overflow: auto;
}